h1{
    text-align: center;
}

#top {
    height: 120px;
    width: 100%;
    border: 1px solid black;
}

#middle {
    margin-top: 50px;
    height: 470px;
    width: 900px;
    /* border: 1px solid green; */
    margin-left: 5%;
    margin-right: 5%;
}

#board{
    display: flex;
}

.game-cells {
    height: 400px;
    width: 500px;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
}

.block {
    height: 40px;
    width: 40px;
    border: 1px solid red;
}

#name-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: 110px;
    width: 200px;
    border-radius: 10px;
    background-color: lightsteelblue;
    visibility: visible;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#name-container{
    justify-content: left;
}


button {
    align-self: center;
    margin-top: 10px;
}

.hit {
    background-color: green;
    border: 1px solid blue;
}

.miss {
    background-color: red;
    border: 1px solid purple;
}

.ship {
    background-color: grey;
}