h1 {
	text-align: center;
}

body {
	width: 1000px;
	/* border: 1px solid purple; */
	height: 1000px;
	margin-left: 2%;
	position: relative;
}

#top {
	height: 100px;
	width: 1000px;
	/* border: 1px solid black; */
	text-align: center;
}

#top .direction {
	margin-top: 0px;
}

#middle {
	margin-top: 50px;
	height: 470px;
	width: 900px;

	/* border: 1px solid green; */
}

#board {
	height: 500px;
	width: 1000px;
	display: flex;
}

#name-tags {
	height: 55px;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	border: 1px solid green;
	align-items: flex-end;
}

div#name-tags {
	color: blue;
}

#player-board {
	height: 400px;
	width: 500px;
	/* border: 1px solid green; */
	display: flex;
	flex-wrap: wrap;
}

#computer-board {
	height: 400px;
	width: 500px;
	/* border: 1px solid green; */
	display: flex;
	flex-wrap: wrap;
}

.block {
	height: 48px;
	width: 47px;
	border: 1px solid red;
}

.placement {
	position: absolute;
	top: 13%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	height: 45px;
	width: 260px;
	border-radius: 10px;
	background-color: lightsteelblue;
	text-align: center;
	visibility: visible;
	padding-top: 6px;
}

.hidden {
	visibility: hidden;
}

input {
	width: 20px;
}

.on {
	color: red;
}

form {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#name-container {
	justify-content: left;
}

button {
	align-self: center;
	margin-top: 10px;
}

#submitcarrier {
	border-width: 1px;
}

.hit {
	background-color: green;
	border: 1px solid blue;
}

.miss {
	background-color: yellow;
	border: 1px solid purple;
}

.ship {
	background-color: grey;
}

.ship[data-name="computer"] {
	background-color: blue;
}
